<?xml version="1.0"?>
<office:document-content xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" office:version="1.2">
  <office:body>
    <office:text>
      {% for page in pages %}
      {% for line in page %}
      <text:p text:style-name="Body{% if loop.first %}_first{% endif %}">{{line}}</text:p>
      {% endfor %}
      {% endfor %}
    </office:text>
  </office:body>
</office:document-content>
